

body {
   font-family: Garamond, Arial, Helvetica, sans-serif;
   font-size: large;
   font-weight: 500;
   padding:0;
   margin:0;
   background-color: lightblue;
}

header {
   min-width: 100%;
   display: flex;
   align-items: center;
   height: 230px;
   justify-content: center;
   font-family: Garamond;
   font-size: 40px;
   background-color: white;
}

#book-display{
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   justify-content: center;
   margin-bottom: 20px;
}

.card {
   position: absolute;
   top: -9999px;
   left: -9999px;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 300px;
   border: 1px solid gray;
   border-radius: 22px;
   background-color: whitesmoke;
}

.title {
   font-weight: 700;
}

.card p {
   text-align: center;
   height: 30px;
   width: 280px;
   word-wrap: break-word;
}


button {
   width: 210px;
   font-size: 20px;

   --color: #fff;
   --background: #275EFE;
   --shadow: #{rgba(#00093D, .16)};
   cursor: pointer;
   position: relative;
   outline: none;
   border: none;
   border-radius: 22px;
   padding: 12px 32px;
   font-weight: 500;
   line-height: 20px;
   transform: scale(var(--s, .97));
   color: var(--color);
   background: var(--background);
}

button:hover {
   box-shadow: 0 0px 12px 0 rgba(0,0,0,0.5), 0 17px 50px 0 rgba(0,0,0,0.19);
}


#newBook {
   width: 180px;
   margin-left: 45%;
   margin-bottom: 20px;
   margin-top: 20px;
}

#remove {
   background-color: lightcoral;
   margin-bottom: 10px;
}

#toggleRead {
   margin-bottom: 10px;
}

/* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
 }

 /* Modal Content/Box */
.modal-content {
   background-color: #fefefe;
   margin: 20% auto;
   padding-left: 20px;
   padding-top: 20px;
   border: 1px solid #888;
   border-radius: 22px;
   width: 400px;
   height: 350px;
}

 label {
    width: 160px;
    display: inline-block;
    margin-bottom: 20px;
    height: 30px;
    margin-top: 20px;
 }

 input {
    height: 25px;
 }

 #read {
    margin-left: 0%;
 }

#submitContainer {
   display: flex;
   justify-content: center;
 }

#close {
   float: right;
   margin-top:-25px;
   margin-right:-5px;
   cursor:pointer;
   color: #fff;
   border: 1px solid #AEAEAE;
   border-radius: 30px;
   background: #605F61;
   font-size: 34px;
   font-weight: bold;
   display: inline-block;
   line-height: 0px;
   padding: 11px 3px;       
}

#close:before {
   content: "×";
}

#close:hover {
   background: red;
   transition-timing-function: ease-in-out;
}