

body {
   font-family: Arial, Helvetica, sans-serif;
   font-size: large;
}

header {
   background-color: green;
   height: 100px;
}

.card {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

button {
   font-family: Arial, Helvetica, sans-serif;
   font-size: large;
}

/* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }

 /* Modal Content/Box */
.modal-content {
   background-color: #fefefe;
   margin: 15% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 50%; /* Could be more or less, depending on screen size */
 }

 label {
    width: 160px;
    display: inline-block;
 }

#submitContainer {
   display: flex;
   justify-content: center;
 }

#close {
   float:right;
   margin-top:-10px;
   margin-right:-10px;
   cursor:pointer;
   color: #fff;
   border: 1px solid #AEAEAE;
   border-radius: 30px;
   background: #605F61;
   font-size: 31px;
   font-weight: bold;
   display: inline-block;
   line-height: 0px;
   padding: 11px 3px;       
}

#close:before {
   content: "×";
}

#close:hover {
   background: red;
   transition-timing-function: ease-in-out;
}